<div class="container">
  <div class="row">
      <div class="col-xs-6 col-xs-offset-3 reve">
        <h1>Mon rêve d'aujourd'hui</h1>
          <%= simple_form_for @dream do |f| %>
            <%= f.error_notification %>
            <%= f.input :description %>
            <%= f.input :date %>
          <%= f.button :submit, class: "btn btn-white btn-sm" %>
          <% end %>

        <div/>
      <div/>
    <div/>
